.weatherApp {
  width: 50%;
  height: 80vh;
  background-image: url(img2.jpg);

  background-position: center;
  background-size: cover;
}
.countries a {
  display: inline-flex;
  justify-content: space-around;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  padding-right: 10px;
}
button,
input {
  border-radius: 6px;
}
.day,
.temp {
  color: rgb(10, 10, 230);
}
.weather-icon {
  float: left;
  margin-top: 5px;
  float: left !important;
  font-size: 40px;
  color: white;
}
.current-units {
  float: left;
  font-size: 16px;
  line-height: 1.5;
}
.current-temp {
  float: left;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  padding-left: 10px;
}
.day-icon,
.current-icon {
  font-size: 40px;
  color: white;
}
.currentCity {
  font-size: 36px;
}
